<!--showメソッドが呼びされた時の表示内容-->
<h1>家計簿詳細</h1>
<table class="table table-striped">
    <tr>
        <th>年月</th>
        <td><%= @book.year %>年<%= @book.month %>月</td> 
        <!--controllerからの@bookのデータを表示する-->
    </tr>
    <tr>
        <th>区分</th>
        <td><%= @book.inout %></td>
    </tr>
    <tr>
        <th>科目</th>
        <td><%= @book.category %></td>
    </tr>
    <tr>
        <th>金額</th>
        <td><%= @book.amount %>万円</td>
    </tr>
    <tr>
        <th>メモ</th>
        <td><%= @book.memo %></td>
    </tr>
</table>
<%= link_to "戻る",books_path,class:"btn btn-secondary" %>
<!--一覧ページへのリンクとボタンの装飾-->